:root {
  --text: #111111;
  --text-dark: #333333;
  --text-inv: #ffffff;
  --text-light: #888888;
  --text-hover: #888888;
  --text-placeholder: #888888;
  --text-danger: #cf0000;
  --text-success: #4caf50;
  --accent: #888888;
  --bg-dark: #111111;
  --shadow: #555555;
  --bg-light: #ffffff;
  --bg-lighter: #f7f7f7;
  --bg-middle: #c7c7c7;
  --bg-info: #fff2be;
  --border-dark: #111111;
  --border-middle: #c7c7c7;
  --border-light: #ffffff;
  --transition-duration: 300ms;
  --transition-duration-active: 50ms;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/centurygothic.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
}

body {
  font-family: "Century Gothic", "Arial", sans-serif;
  font-size: 14px;
  background-color: var(--bg-light);
  color: var(--text);
  line-height: 1.2;
  margin: 0;
  padding: 0;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
}

.btn,
button[type=button],
button[type=submit] {
  display: inline-block;
  width: 100%;
  max-width: 230px;
  height: 50px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  vertical-align: top;
  line-height: 48px;
  font-size: 15px;
  color: var(--text);
  text-align: center;
  border: 1px solid var(--border-middle);
  box-sizing: border-box;
  backface-visibility: hidden;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition: color var(--transition-duration);
  cursor: pointer;
}
.btn.btn_dark,
button[type=button].btn_dark,
button[type=submit].btn_dark {
  background: var(--bg-dark);
  color: var(--text-inv);
  border: 1px solid var(--border-dark);
  outline: none;
  border: none;
  cursor: pointer;
}
.btn.btn_border,
button[type=button].btn_border,
button[type=submit].btn_border {
  border-color: var(--bg-dark);
  color: var(--bg-dark);
  background-color: transparent;
}

.creative {
  width: 100%;
  padding: 0;
}
.creative.fancybox-content .fancybox-close-small {
  right: 50px;
  top: 32px;
  --size: 50px;
  width: var(--size);
  height: var(--size);
  background-color: var(--bg-dark);
  color: var(--text-inv);
  border: 0;
  opacity: 1;
}
@media (max-width: 992px) {
  .creative.fancybox-content .fancybox-close-small {
    right: 16px;
    top: 32px;
  }
}
.creative__container {
  width: 100%;
  height: 100%;
  padding: 32px 50px;
}
@media (max-width: 992px) {
  .creative__container {
    padding: 32px 16px;
  }
}
.creative__logo {
  max-width: 237px;
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  .creative__logo {
    margin-bottom: 24px;
  }
}

.rooms-selector {
  padding: 24px;
  max-width: 550px;
}
.rooms-selector__title {
  font-size: 18px;
  margin-bottom: 24px;
}
.rooms-selector__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.rooms-selector__item {
  width: 100%;
  display: block;
  text-decoration: none;
  color: var(--color-dark);
}
.rooms-selector__item span {
  display: block;
  margin-top: 4px;
}

.coverage-selector {
  padding: 24px;
  max-width: 550px;
}
.coverage-selector__title {
  font-size: 18px;
  margin-bottom: 24px;
}
.coverage-selector__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.coverage-selector__item {
  width: 100%;
  display: block;
  text-decoration: none;
  color: var(--color-dark);
}
.coverage-selector__item span {
  display: block;
  margin-top: 4px;
}

.rooms-visualiser {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
@media (max-width: 992px) {
  .rooms-visualiser {
    flex-direction: column;
    gap: 24px;
  }
}
.rooms-visualiser__panel {
  width: 314px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 1px solid #e0e0e0;
}
.rooms-visualiser__panel .rooms-visualiser__btn {
  max-width: 100%;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .rooms-visualiser__panel .rooms-visualiser__btn {
    display: none;
  }
}
.rooms-visualiser__panel .rooms-visualiser__btn + .rooms-visualiser__btn {
  margin-top: 8px;
}
@media (max-width: 992px) {
  .rooms-visualiser__panel {
    width: 100%;
    padding: 0;
    border: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 16px;
  }
  .rooms-visualiser__panel .rooms-visualiser__coverage-name {
    display: none;
  }
  .rooms-visualiser__panel .rooms-visualiser__coverage-articul {
    display: none;
  }
  .rooms-visualiser__panel .rooms-visualiser__btn {
    display: none;
  }
}
.rooms-visualiser__select {
  padding: 8px;
  border: 1px solid var(--bg-dark);
  margin-bottom: 16px;
  cursor: pointer;
  text-decoration: none;
  color: var(--bg-dark);
}
@media (max-width: 992px) {
  .rooms-visualiser__select {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0;
    border: 0;
    margin-bottom: 0;
  }
}
.rooms-visualiser__select-preview {
  margin-bottom: 10px;
  flex-shrink: 0;
}
.rooms-visualiser__select-preview img {
  display: block;
  width: 100%;
}
@media (max-width: 992px) {
  .rooms-visualiser__select-preview {
    margin-bottom: 0;
    width: 32px;
    height: 32px;
  }
  .rooms-visualiser__select-preview img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.rooms-visualiser__select-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  gap: 10px;
  font-size: 12px;
}
@media (max-width: 992px) {
  .rooms-visualiser__select-btn {
    padding: 8px 8px 8px 0;
  }
}
.rooms-visualiser__select-btn span {
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .rooms-visualiser__select-btn span {
    font-size: 11px;
  }
}
.rooms-visualiser__select-btn svg {
  flex-shrink: 0;
  width: 16px;
  height: 6.5px;
}
.rooms-visualiser__coverage-name {
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 1.3;
}
.rooms-visualiser__coverage-articul {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.3;
  color: #999999;
}
.rooms-visualiser__btn {
  text-transform: uppercase;
}
.rooms-visualiser__info {
  display: none;
}
@media (max-width: 992px) {
  .rooms-visualiser__info {
    width: 100%;
    display: block;
    padding: 24px;
    border: 1px solid #E0E0E0;
  }
}
@media (max-width: 560px) {
  .rooms-visualiser__info .rooms-visualiser__btn {
    margin-top: 8px;
    max-width: 100%;
  }
}
.rooms-visualiser__room {
  position: relative;
  width: calc(100% - 346px);
  overflow: hidden;
  max-width: 1350px;
}
.rooms-visualiser__room.pattern-02 .rooms-visualiser__grid-line:nth-of-type(even) .rooms-visualiser__grid-cell:nth-of-type(odd) {
  transform: rotate(-90deg);
  width: 100%;
}
.rooms-visualiser__room.pattern-02 .rooms-visualiser__grid-line:nth-of-type(odd) .rooms-visualiser__grid-cell:nth-of-type(even) {
  transform: rotate(-90deg);
  width: 100%;
}
.rooms-visualiser__room.pattern-03 .rooms-visualiser__grid-line:nth-of-type(odd) {
  position: relative;
}
.rooms-visualiser__room.pattern-03 .rooms-visualiser__grid-line:nth-of-type(odd) .rooms-visualiser__grid-cell {
  position: relative;
  bottom: 30%;
}
.rooms-visualiser__room.pattern-04 .rooms-visualiser__floor-wrapper {
  left: -5%;
}
.rooms-visualiser__room.pattern-04 .rooms-visualiser__grid-line .rooms-visualiser__grid-cell:nth-of-type(odd) {
  position: relative;
  left: 50%;
}
.rooms-visualiser__room.pattern-05 .rooms-visualiser__floor {
  perspective: 900px;
}
@media (max-width: 767px) {
  .rooms-visualiser__room.pattern-05 .rooms-visualiser__floor {
    perspective: 600px;
  }
}
.rooms-visualiser__room.pattern-05 .rooms-visualiser__floor-wrapper {
  transform: rotateX(80deg);
  right: -20%;
  bottom: -20%;
}
@media (max-width: 767px) {
  .rooms-visualiser__room.pattern-05 .rooms-visualiser__floor-wrapper {
    bottom: -22%;
  }
}
@media (max-width: 767px) {
  .rooms-visualiser__room.pattern-05 .rooms-visualiser__grid-line {
    height: 700px;
  }
}
.rooms-visualiser__room.pattern-05 .rooms-visualiser__grid {
  transform: rotate(45deg);
}
@media (max-width: 992px) {
  .rooms-visualiser__room {
    width: 100%;
  }
}
.rooms-visualiser__img {
  width: 100%;
  position: relative;
  z-index: 2;
}
.rooms-visualiser__img img {
  width: 100%;
}
.rooms-visualiser__floor {
  perspective: 300px;
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
}
.rooms-visualiser__floor-wrapper {
  transform: rotateX(50deg);
  bottom: 0px;
  height: 100%;
  bottom: 0%;
  bottom: -40%;
  position: relative;
}
.rooms-visualiser__grid {
  display: flex;
  align-items: stretch;
  height: 100%;
  position: relative;
  margin-bottom: 0px;
}
.rooms-visualiser__grid-line {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.rooms-visualiser__grid-cell {
  height: 100px;
  width: 100%;
}
.rooms-visualiser__grid-cell img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.rooms-visualiser__cell {
  background: url("../img/pattern-02.png") center center/cover no-repeat;
  height: 100%;
}
.rooms-visualiser__cell:nth-of-type(odd) {
  transform: rotate(90deg);
  width: 100%;
}
@media (max-width: 1600px) {
  .rooms-visualiser__cell {
    height: 50px;
  }
}
@media (max-width: 767px) {
  .rooms-visualiser__cell {
    height: 40px;
  }
}
@media (max-width: 560px) {
  .rooms-visualiser__cell {
    height: 30px;
  }
}

.fancybox-slide--html .fancybox-close-small {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  width: 31px;
  height: 34px;
  cursor: pointer;
  background: url("../img/close.png") no-repeat 50% 50% var(--bg-dark);
}

.hidden {
  display: none;
}/*# sourceMappingURL=style.css.map */