:root {
  --text: #111111;
  --text-dark: #333333;
  --text-inv: #ffffff;
  --text-light: #888888;
  --text-hover: #888888;
  --text-placeholder: #888888;
  --text-danger: #cf0000;
  --text-success: #4caf50;
  --accent: #888888;
  --bg-dark: #111111;
  --shadow: #555555;
  --bg-light: #ffffff;
  --bg-lighter: #f7f7f7;
  --bg-middle: #c7c7c7;
  --bg-info: #fff2be;
  --border-dark: #111111;
  --border-middle: #c7c7c7;
  --border-light: #ffffff;
  --transition-duration: 300ms;
  --transition-duration-active: 50ms;
}

@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/centurygothic.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
}

img {
  max-width: 100%;
}

body {
  font-family: "Century Gothic", "Arial", sans-serif;
  font-size: 14px;
  background-color: var(--bg-light);
  color: var(--text);
  line-height: 1.2;
  margin: 0;
  padding: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%;
}

.btn,
button[type="button"],
button[type="submit"] {
  display: inline-block;
  width: 100%;
  max-width: 230px;
  height: 50px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  vertical-align: top;
  line-height: 48px;
  font-size: 15px;
  color: var(--text);
  text-align: center;
  border: 1px solid var(--border-middle);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition: color var(--transition-duration);
  -o-transition: color var(--transition-duration);
  transition: color var(--transition-duration);
  cursor: pointer;

  &.btn_dark {
    background: var(--bg-dark);
    color: var(--text-inv);
    border: 1px solid var(--border-dark);
    outline: none;
    border: none;
    cursor: pointer;
  }

  &.btn_border {
    border-color: var(--bg-dark);
    color: var(--bg-dark);
    background-color: transparent;
  }
}

.creative {
  width: 100%;
  padding: 0;

  &.fancybox-content .fancybox-close-small {
    right: 50px;
    top: 32px;
    --size: 50px;
    width: var(--size);
    height: var(--size);
    background-color: var(--bg-dark);
    color: var(--text-inv);
    border: 0;
    opacity: 1;

    @media (max-width: 992px) {
      right: 16px;
      top: 32px;
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    padding: 32px 50px;

    @media (max-width: 992px) {
      padding: 32px 16px;
    }
  }

  &__logo {
    max-width: 237px;
    margin-bottom: 50px;

    @media (max-width: 992px) {
      margin-bottom: 24px;
    }
  }
}

.rooms-selector {
  padding: 24px;
  max-width: 550px;

  &__title {
    font-size: 18px;
    margin-bottom: 24px;
    min-height: 50px;
    display: flex;
    align-items: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  &__item {
    width: 100%;
    display: block;
    text-decoration: none;
    color: var(--color-dark);

    span {
      display: block;
      margin-top: 4px;
    }
  }
}

.coverage-selection {
  padding: 24px;
  max-width: 1200px;
  width: 100%;

  &__title {
    font-size: 18px;
    margin-bottom: 56px;
  }

  &__step {
    display: none;

    &.is-active {
      display: block;
    }

    &-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 80px;
      margin-bottom: 40px;
      min-height: 50px;
      gap: 16px;

      @media (max-width: 992px) {
        padding-right: 60px;
      }
    }

    &-title {
      font-size: 24px;
      font-weight: 600;

      @media(max-width: 992px) {
        font-size: 16px;
      }
    }

    &-content {
      .product-card-patterns__list {
        max-width: 600px;
        margin: 0 auto;
      }
    }

    &-back {
      background-color: white;
      display: inline-flex;
      gap: 16px;
      align-items: center;
      justify-content: center;
      padding: 24px 32px;
      height: 50px;
      font-size: 16px;
      outline: none;
      user-select: none;
      text-decoration: none;
      border: 1px solid #010101;

      @media(max-width: 992px) {
        width: 50px;
        height: 50px;
        font-size: 0;
        padding: 0;

        span {
          display: none;
        }
      }
    }

    &-pagination {
      margin-top: 40px;

      @media(max-width: 992px) {
        margin-top: 24px;
      }
    }
  }
  
}

.pattern-selector {
  padding: 24px;
  max-width: 550px;

  &__title {
    font-size: 18px;
    margin-bottom: 24px;
    min-height: 50px;
    display: flex;
    align-items: center;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  &__item {
    width: 100%;
    display: block;

    text-decoration: none;
    color: var(--color-dark);

    span {
      display: block;
      margin-top: 4px;
      text-align: center;
      font-weight: 600;
    }
  }
}

.rooms-visualiser {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  gap: 32px;

  @media (max-width: 992px) {
    flex-direction: column;
    gap: 24px;
  }

  &__panel {
    width: 314px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    border: 1px solid #e0e0e0;

    .rooms-visualiser__btn {
      max-width: 100%;
      text-transform: uppercase;

      @media (max-width: 992px) {
        display: none;
      }

      + .rooms-visualiser__btn {
        margin-top: 8px;
      }
    }

    @media (max-width: 992px) {
      width: 100%;
      padding: 0;
      border: 0;
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 16px;

      .rooms-visualiser__coverage-name {
        display: none;
      }

      .rooms-visualiser__coverage-articul {
        display: none;
      }

      .rooms-visualiser__btn {
        display: none;
      }
    }
  }

  &__select {
    padding: 8px;
    border: 1px solid var(--bg-dark);
    margin-bottom: 16px;
    cursor: pointer;
    text-decoration: none;
    color: var(--bg-dark);

    @media (max-width: 992px) {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0;
      border: 0;
      margin-bottom: 0;
    }

    &-preview {
      margin-bottom: 10px;
      flex-shrink: 0;

      img {
        display: block;
        width: 100%;
      }

      @media (max-width: 992px) {
        margin-bottom: 0;
        width: 32px;
        height: 32px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    &-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px;
      gap: 10px;
      font-size: 12px;

      @media (max-width: 992px) {
        padding: 8px 8px 8px 0;
      }

      span {
        text-transform: uppercase;

        @media (max-width: 767px) {
          font-size: 11px;
        }
      }

      svg {
        flex-shrink: 0;
        width: 16px;
        height: 6.5px;
        transform: rotate(-90deg);

        @media (max-width: 767px) {
          transform: rotate(0deg);
        }
      }
    }
  }

  &__coverage-name {
    margin-bottom: 16px;
    font-size: 20px;
    line-height: 1.3;
  }

  &__coverage-articul {
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 1.3;
    color: #999999;
  }

  &__btn {
    text-transform: uppercase;
  }

  &__info {
    display: none;

    @media (max-width: 992px) {
      width: 100%;
      display: block;
      padding: 24px;
      border: 1px solid #e0e0e0;
    }

    @media (max-width: 560px) {
      .rooms-visualiser__btn {
        margin-top: 8px;
        max-width: 100%;
      }
    }
  }

  &__room {
    position: relative;
    width: calc(100% - 346px);
    overflow: hidden;
    max-width: 1350px;

    &.pattern-02 {
      .rooms-visualiser__grid-line {
        &:nth-of-type(even) {
          .rooms-visualiser__grid-cell {
            &:nth-of-type(odd) {
              transform: rotate(-90deg);
              width: 100%;
            }
          }
        }

        &:nth-of-type(odd) {
          .rooms-visualiser__grid-cell {
            &:nth-of-type(even) {
              transform: rotate(-90deg);
              width: 100%;
            }
          }
        }
      }
    }

    &.pattern-03 {
      .rooms-visualiser__grid-line {
        &:nth-of-type(odd) {
          position: relative;

          .rooms-visualiser__grid-cell {
            position: relative;
            bottom: 30%;
          }
        }
      }
    }

    &.pattern-04 {
      .rooms-visualiser__floor-wrapper {
        left: -5%;
      }

      .rooms-visualiser__grid-line {
        .rooms-visualiser__grid-cell:nth-of-type(odd) {
          position: relative;
          left: 50%;
        }
      }
    }

    &.pattern-05 {
      .rooms-visualiser__floor {
        perspective: 900px;

        @media (max-width: 767px) {
          perspective: 600px;
        }
      }

      .rooms-visualiser__floor-wrapper {
        transform: rotateX(80deg);
        right: -20%;
        bottom: -20%;

        @media (max-width: 767px) {
          bottom: -22%;
        }
      }

      .rooms-visualiser__grid-line {
        @media (max-width: 767px) {
          height: 700px;
        }
      }

      .rooms-visualiser__grid {
        transform: rotate(45deg);
      }
    }

    @media (max-width: 992px) {
      width: 100%;
    }
  }

  &__img {
    width: 100%;
    position: relative;
    z-index: 2;

    img {
      width: 100%;
    }
  }

  &__floor {
    perspective: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;

    &-wrapper {
      transform: rotateX(50deg);
      bottom: 0px;
      height: 100%;
      bottom: 0%;
      bottom: -40%;
      position: relative;
    }
  }

  &__grid {
    // display: grid;
    // grid-template-columns: repeat(12, 1fr);
    display: flex;
    align-items: stretch;
    height: 100%;
    position: relative;
    margin-bottom: 0px;

    // @media(max-width: 1600px) {
    //   grid-template-columns: repeat(7, 1fr);
    // }

    // @media(max-width: 1200px) {
    //   grid-template-columns: repeat(7, 1fr);
    // }

    // @media(max-width: 767px) {
    //   grid-template-columns: repeat(6, 1fr);
    // }

    // @media(max-width: 560px) {
    //   grid-template-columns: repeat(7, 1fr);
    //   margin-bottom: -200px;
    // }

    &-line {
      display: flex;
      flex-direction: column;
      height: 100%;
      position: relative;
    }

    &-cell {
      // background: url("../img/pattern-02.png") center center / cover no-repeat;
      height: 100px;
      width: 100%;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &__cell {
    background: url("../img/pattern-02.png") center center / cover no-repeat;
    height: 100%;

    &:nth-of-type(odd) {
      transform: rotate(90deg);
      width: 100%;
    }

    @media (max-width: 1600px) {
      height: 50px;
    }

    @media (max-width: 767px) {
      height: 40px;
    }

    @media (max-width: 560px) {
      height: 30px;
    }
  }
}

.fancybox-slide--html {
  .fancybox-close-small {
    right: 24px;
    top: 24px;
    --size: 50px;
    width: var(--size);
    height: var(--size);
    background-color: var(--bg-dark);
    color: var(--text-inv);
    border: 0;
    opacity: 1;
    transition: .25s;

    &::before {
      display: none;
    }

    &:hover {
      opacity: .6;
    }

    @media (max-width: 992px) {
    }
  }
}

.hidden {
  display: none;
}

.popular-sections--item {
  display: block;
  height: 85px;
  width: 100%;
  background-size: cover;
  position: relative;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  span {
    font-size: 14px;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 31px;
    line-height: 31px;
    padding: 0 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    background: var(--bg-dark);
    max-width: 100%;
    white-space: nowrap;
    box-sizing: border-box;
    transition: .2s;
  }
}
